<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true">
      <buildProviders>
        <add extension=".asp" type="System.Web.Compilation.PageBuildProvider"  />
        <add extension=".html" type="System.Web.Compilation.PageBuildProvider"/>
      </buildProviders>
    </compilation>
     
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="redirectHandler"/>
      <add name="redirectHandler" verb="*" path="exit.asp" type="RedirectHTTPHandler.RedirectHTTPHandlerFactory, RedirectHTTPHandler"/>
    </handlers>
  </system.webServer>
</configuration>